<div id="portfolio" class="bg-dark pt-120">
    <div class="container">
        <div class="scrolling-animation fade-up">
            <h2 class="text-lg text-center">Impressive <span class="text-color">Portfolio</span></h2>
            <hr class="hr-gray hr-center hr-sm hr-bold mb-20">
            @*<p class="text-gray text-center mb-80">My Projects</p>*@
        </div>

        <div class="text-center">
            <a class="btn btn-rect btn-xl btn-block" data-toggle="collapse">
                <img src="~/resources/images/javascriptand jquery.jpg" />
            </a>
            <h2>JavaScript Exercises</h2>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <a class="btn btn-rect btn-xl btn-block" data-toggle="modal" data-target="#myModal">
                    <h2>Palindrome - click to see code</h2>
                </a>
            </div>
            <div class="col-md-2">
                Word: <input type="text" id="palInput"><br>
                <button id="calcBtn">Calculate</button>
                <div id="palResult"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->

    <a href="" data-toggle="modal" data-target="#palResult"></a>

    <div class="modal fade" id="palResult" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        <pre>
                        $('#calcBtn').click(function () {
                        var word = $("#palInput").val();
                        var reverse = word.split("").reverse().join("");
                        if (word == reverse)
                        $("#palResult").html("Yes");
                        else
                        $("#palResult").html("No");
                        });
                        </pre>
                    </button>
                    <h1 class="modal-title" id="myModalLabel">Palindrome - click to see code</h1>
                </div>
                <div class="modal-body col-sm-12">
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
        </div>
    </div>






    @* <div id="myModal" class="modal fade" role="dialog">*@
    @* <div class="modal-dialog">*@
    <!-- Modal content-->
    @*<div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
             </div>
        </div>*@


    @*<div class="modal fade" id="palResult" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header"></div>
                            <div class="modal-body col-xs-12">
                                <pre class="brush: js text">
        $('#calcBtn').click(function () {
            var word = $("#palInput").val();
            var reverse = word.split("").reverse().join("");
            if (word == reverse)
                $("#palResult").html("Yes");
            else
                $("#palResult").html("No");
        });

                                    </pre>
                            </div>
                        </div>
                    </div>
                </div>*@
</section>
<div>
    <a class="btn btn-rect btn-xl btn-block" data-toggle="collapse"
                <script  href="~/resources/js/minnumber.js"></script>
    <h2>5 Numbers - click to see code</h2>
    </a>
</div>

<div class="container">
    <div class="row line visible-md visible-lg">
        <div class="col-md-3"><span class="spot"></span></div>
        <div class="col-md-3"><span class="spot"></span></div>
        <div class="col-md-3"><span class="spot"></span></div>
        <div class="col-md-3"><span class="spot"></span></div>
    </div>

    <a href="" data-toggle=modal data-target="js/minnumber.js"></a>
    <h2> Greatest, least, product, sum, and mean of 5 numbers! </h2>

    First number:  <input type="number" name="num1"><br>
    Second number: <input type="number" name="num2"><br>
    Third number:  <input type="number" name="num3"><br>
    Fourth number: <input type="number" name="num4"><br>
    Fifth number:  <input type="number" name="num5"><br>

    <button id="numBtn">Calculate</button>
    <div id="result"></div>
    <div id="result1"></div>
    <div id="result2"></div>
    <div id="result3"></div>
    <div id="result4"></div>

</div>

<div class="modal fade" id="max" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <pre class="brush: js text">
                                        
                                </pre>
            </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-rect btn-xl btn-block" data-toggle="collapse">
        <script href="~/resources/js/factorial.js"></script>
        <h2>Factorial - click to see code</h2>
    </a>
</div>

<div class="container">
    <a href="" data-toggle=modal data-target="js/factorial.js"></a>
    Number:  <input type="number" name="fact1"><br>
    <button id="factBtn">Calculate</button>
    <div id="factResult"></div>
</div>
<div class="container">
    <div class="modal fade" id="max" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <pre class="brush: js text">
                                                $('#calcBtn').click(function()
                                                function factorial()
                                            {
                                                    var num = $('input[name=num1]').val();
                                                    var prod = 1;
                                                    for (var i=1; i<=num;i++)
                                                {
                                                    prod = prod * i;
                                                }
                                                    $('#result2').text(prod + " is the factorial");
                                            });
                                </pre>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a class="btn btn-rect btn-xl btn-block" data-toggle="collapse">
            <script href="~/resources/js/fizzbuzz.js"></script>
            <h2>Fizz Buzz - click to see code</h2>
        </a>
    </div>

    <a href="" data-toggle="modal" data-target="js/fizzbuzz.js"></a>
    First number:  <input type="number" name="fb1"><br>
    Second number: <input type="number" name="fb2"><br>

    <button id="fbBtn">Calculate</button>
    <div id="fbResult1"></div>
</div>
<div class="modal fade" id="max" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <pre class="brush: js text;">
                                                $('#fbBtn').click(function()
                                                function fizzbuzz()
                                                    for (var i=1;i<=100;i++)
                                                    var a = $('input[name=num1]').val();
                                                    var b = $('input[name=num2]').val();
                                                {
                                                        if((a%b)===0 && (b%a)===0)
                                                    {
                                                            $('#fbResult').text("FizzBuzz");
                                                    }
                                                        else if((a%b)===0)
                                                    {
                                                            $('#fbResult').text("Fizz");
                                                    }
                                                        else if((b%a)===0)
                                                    {
                                                            $('#fbResult').text("Buzz");
                                                    }
                                                        else
                                                    {
                                                            $('#fbResult').text}(i);
                                                    }
        })
               </pre>
            </div>
        </div>
    </div>
</div>

<script src="~/resources/shCore.js"></script>
<script src="~/resources/shBrushJScript.js"></script>
<script src="~/resources/js/minnumber.js"></script>
<script src="~/resources/js/factorial.js"></script>
<script src="~/resources/js/fizzbuzz.js"></script>
<script src="~/resources/js/palindrome.js"></script>





