
@*@{
    ViewBag.Title = "Portfolio";
}

<h2>Portfolio</h2>*@

<div id="portfolio" class="bg-light pt-120">

    <div class="container">

        @*<div class="scrolling-animation fade-up">
            <h2 class="text-lg text-center">Impressive <span class="text-color">Portfolio</span></h2>
            <hr class="hr-gray hr-center hr-sm hr-bold mb-20">
            <p class="text-gray text-center mb-80">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum vehicula condimentum.</p>
        </div>*@

        @*<div class="row">

            <div class="col-md-10 col-md-offset-1 scrolling-animation scale-in">

                <div class="macbook-mockup single-device">

                    <img class="img-responsive img-center" src="assets/images/macbook-single.png" alt="" />

                    <div class="macbook-mockup-content flexslider controls-lg no-bullet-nav effect-zoom" data-speed="4000">

                        <ul class="slides">

                            <li class="hover-mask-parent">
                                <figure class="hover-mask-parent">

                                    <img class="img-responsive" src="assets/images/macbook-screen-1.jpg" alt="" />

                                    <figcaption class="hover-mask hover-mask-zoom-in">

                                        <div class="hover-mask-content text-center">

                                            <h3 class="mb-40 text-bold">Wonderfull Design</h3>
                                            <a href="project-all-devices-scrolling.html" class="btn btn-3d btn-color btn-solid">Case Study</a>

                                        </div>*@

                                    @*</figcaption>

                                </figure>
                            </li>*@

                            @*<li class="hover-mask-parent">
                                <figure class="hover-mask-parent">

                                    <img class="img-responsive" src="assets/images/macbook-screen-2.jpg" alt="" />

                                    <figcaption class="hover-mask hover-mask-zoom-in">

                                        <div class="hover-mask-content text-center">

                                            <h3 class="mb-40 text-bold">Fully Responsive</h3>
                                            <a href="project-all-devices-sliders.html" class="btn btn-3d btn-color btn-solid">Case Study</a>

                                        </div>

                                    </figcaption>

                                </figure>
                            </li>*@

                            @*<li class="hover-mask-parent">
                                <figure class="hover-mask-parent">

                                    <img class="img-responsive" src="assets/images/macbook-screen-3.jpg" alt="" />

                                    <figcaption class="hover-mask hover-mask-zoom-in">

                                        <div class="hover-mask-content text-center">

                                            <h3 class="mb-40 text-bold">Creative Portfolio</h3>
                                            <a href="project-synchronized-all.html" class="btn btn-3d btn-color btn-solid">Case Study</a>

                                        </div>

                                    </figcaption>

                                </figure>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>*@
<!-- ==============================================
    BLOCK BUTTON
    =============================================== -->
<div class="text-center">
    <a class="btn btn-rect btn-xl btn-block" href="https://wrapbootstrap.com/theme/perfectr-impressive-portfolio-WB0H4T00K" target="_blank">
        Welcome to my projects<br>
        <span class="btn-subtext">Check them out!</span>
    </a>
</div>

<div class="bg-light pt-40">

    <div class="container">

        <div class="filter-buttons text-center mt-60 mb-40" data-target="#grid-1">

            <ul class="list-unstyled list-inline">
                <li class="active filter-button scrolling-animation fade-right d3" data-filter="*">All Projects</li>
                <li class="filter-button scrolling-animation fade-right d2" data-filter=".cat-1">JavaScript</li>
                <li class="filter-button scrolling-animation fade-right d1" data-filter=".cat-2">Bug Tracker</li>
                <li class="filter-button scrolling-animation fade-right" data-filter=".cat-3">My Logos</li>
            </ul>

        </div>

        <div id="grid-1" class="grid grid-gap-sm grid-3-cols fade-in">

            <div class="grid-item cat-1">

                <a href="@Url.Action("JavaScriptExercises","Home")">

                    <figure class="hover-mask-parent img-hover-zoom">

                        <img  class="img-responsive picClass" src="~/resources/images/javascriptand jquery.jpg" alt="" />

                        <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

                            <div class="hover-mask-content text-center">

                                <h3 class="mb-10 text-bold">JavaScript Exercises</h3>
                                @*<p class="">#logos #apps</p>*@

                            </div>

                        </figcaption>

                    </figure>

                </a>

            </div>
            <div class="grid-item cat-2">

                <a href="project-all-devices-sliders.html">

                    <figure class="hover-mask-parent img-hover-zoom">

                        <img class="img-responsive picClass" src="~/resources/images/bug-tracking.png" alt="" />

                        <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

                            <div class="hover-mask-content text-center">

                                <h3 class="mb-10 text-bold">Bug Tracker</h3>
                                @*<p class="">#web #design</p>*@

                            </div>

                        </figcaption>

                    </figure>

                </a>

            </div>
            <div class="grid-item cat-1">

                <a href="project-all-devices-scrolling.html">

                    <figure class="hover-mask-parent img-hover-zoom">

                        <img class="img-responsive" src="~/resources/images/thumb-3.jpg" alt="" />

                        <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

                            <div class="hover-mask-content text-center">

                                <h3 class="mb-10 text-bold">User Experience</h3>
                                <p class="">#web #apps</p>

                            </div>

                        </figcaption>

                    </figure>

                </a>

            </div>
            <div class="grid-item cat-2">

                <a href="project-synchronized-macbook-iphone.html">

                    <figure class="hover-mask-parent img-hover-zoom">

                        <img class="img-responsive" src="assets/images/thumb-4.jpg" alt="" />

                        <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

                            <div class="hover-mask-content text-center">

                                <h3 class="mb-10 text-bold">100% Responsive</h3>
                                <p class="">#web #apps</p>

                            </div>

                        </figcaption>

                    </figure>

                </a>

            </div>
            <div class="grid-item cat-1">

                <a href="project-macbook-iphone-sliders.html">

                    <figure class="hover-mask-parent img-hover-zoom">

                        <img class="img-responsive" src="assets/images/thumb-5.jpg" alt="" />

                        <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

                            <div class="hover-mask-content text-center">

                                <h3 class="mb-10 text-bold">Great Design</h3>
                                <p class="">#web #design</p>

                            </div>

                        </figcaption>

                    </figure>

                </a>

            </div>
            <div class="grid-item cat-2">

                <a href="project-all-devices-scrolling.html">

                    <figure class="hover-mask-parent img-hover-zoom">

                        <img class="img-responsive" src="assets/images/thumb-6.jpg" alt="" />

                        <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

                            <div class="hover-mask-content text-center">

                                <h3 class="mb-10 text-bold">Creative Design</h3>
                                <p class="">#web #logos</p>

                            </div>

                        </figcaption>

                    </figure>

                </a>

            </div>
            <div class="grid-item cat-3">

                <a href="project-all-devices-sliders.html">

                    <figure class="hover-mask-parent img-hover-zoom">

                        <img class="img-responsive" src="assets/images/thumb-7.jpg" alt="" />

                        <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

                            <div class="hover-mask-content text-center">

                                <h3 class="mb-10 text-bold">UI/UX</h3>
                                <p class="">#design #apps</p>

                            </div>

                        </figcaption>

                    </figure>

                </a>

            </div>
            <div class="grid-item cat-3">

                <a href="project-synchronized-all.html">

                    <figure class="hover-mask-parent img-hover-zoom">

                        <img class="img-responsive" src="assets/images/thumb-8.jpg" alt="" />

                        <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

                            <div class="hover-mask-content text-center">

                                <h3 class="mb-10 text-bold">Great Design</h3>
                                <p class="">#web #design</p>

                            </div>

                        </figcaption>

                    </figure>

                </a>

            </div>
            <div class="grid-item cat-3">

                <a href="project-desktop-scrolling.html">

                    <figure class="hover-mask-parent img-hover-zoom">

                        <img class="img-responsive" src="assets/images/thumb-9.jpg" alt="" />

                        <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

                            <div class="hover-mask-content text-center">

                                <h3 class="mb-10 text-bold">Creative Portfolio</h3>
                                <p class="">#web #apps</p>

                            </div>

                        </figcaption>

                    </figure>

                </a>

            </div>

        </div>

    </div>

</div>